.unlink {
    text-decoration: none!important;
}
.form-control,th, td, .dataTables_length, .dataTables_info, .dataTables_filter, .page-item {
    font-size:14px!important;
}
.fs-6,.input-group-text {
    font-size: 14px!important;
}
.form-delete{
    display: inline;
}
